// Custom styles.
.posts-expand .post-title {
    text-align: center;
    word-break: break-word;
    font-weight: 500;
    font-size: 35px;
    color: #090A0B;
}

h1, h2, h3, h4, h5, h6 {
    margin: .5em 0 .2em;
    padding: 0;
    font-weight: bold;
    line-height: 1.5;
    color: #191a1b;
    font-family: serif,'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 19px;
}

p {
    margin: 0 0 15px 0;
    font-size: 1rem;
    color: #3c484e;
    font-family: Georgia,serif;
}

.posts-expand .post-body ul li {
    list-style: circle;
    font-family: Georgia,serif;
}

.posts-expand .post-title-link {
    display: inline-block;
    position: relative;
    color: #090A0B;
    border-bottom: none;
    line-height: 1.2;
    vertical-align: top;
}

.menu .menu-item a {
    position: relative;
    box-sizing: border-box;
    padding: 5px 20px;
    text-align: left;
    line-height: inherit;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    color: #555;
}

a {
    color: #404040;
    text-decoration: none;
    outline: none;
    border-bottom: 1px solid #3eb0ef;
    word-wrap: break-word;
}

a[itemprop=url] {
    color: #555;
    text-decoration: none;
    outline: none;
    border-bottom: 1px solid #999;
    word-wrap: break-word;
}

code {
    padding: 2px 4px;
    word-wrap: break-word;
    color: #555;
    background: #e5eff5;
    border-radius: 3px;
    font-size: 13px;
}

b, strong {
    font-weight: bold;
    color: #404040;
}

@media (max-width: 767px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 1.1rem;
    }
}
